
<div class="modal-header text-right">
    <h4 class="modal-title texto2 text-center mx-5" id="exampleModalScrollableTitle">Reglas de Compra</h4>
    <button type="button" class="close text-right" style="background-color:#48cfb4; color:white; width:60px; height:60px; border:3px solid #48cfb4; border-color: #48cfb4;" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
       
            <div class="col-sm-6 text-white bg-primary mx-2 my-1" style="max-width:270px; background:#fbbdb6;">
                <div class="card-header">Cantidad Comprada</div>
                <div class="card-body">
                  
                    <p class="card-text">La cantidad Máxima que puede solicitarse por mes está definida en cada Producto.</p>
                </div>
            </div>
        
  
            <div class="col-sm-6 card text-white bg-secondary mx-2 my-1" style="max-width:270px; background:#d8d9dc;">
                <div class="card-header">Productos Habilitados</div>
                <div class="card-body">
                    
                    <p class="card-text">Los Productos que pueden encontrar son los que están habilitados para la venta a Personal.</p>
                </div>
            </div>
      
        
            <div class="col-sm-6 card text-white bg-success mx-2 my-1" style="max-width:270px; background:#9fe7af;">
                <div class="card-header">Compra Maxima Mensual</div>
                <div class="card-body">
                    
                    <p class="card-text">La compra Mensual no debe exceder el 10% total de su sueldo del mes anterior.</p>
                </div>
            </div>
       
     
            <div class="col-sm-6 card text-white bg-danger mx-2 my-1" style="max-width:270px; background:#fbbdb6;">
                <div class="card-header">Personal Habilitado</div>
                <div class="card-body">
             
                    <p class="card-text">Permite tomar pedido al personal con antigüedad Mayor a tres Meses.</p>
                </div>
            </div>
         
           
     </div>
 </div>
