@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="m-2" style="color:#f9692b; background-color:#fde9d4;">
    <button type="button" class="close ml-5" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h6 class="ml-2 mr-2"> Llego al monto limite de compra de este mes.</h6>

</div>