@model List<clsClienteResponsableUbicacionUsuIdResponse>

<div class="text-right">
   
    <button type="button" class="close text2" style="background-color:#48cfb4; color:white; width:30px; height:30px; border:0px solid #48cfb4" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-5 my-3">
    <div class="col-md-6">
       
        <div id="mapClientes" style="height:800px; width:1900px;"></div>
        
        
    </div>




</div>



