@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">NOMBRE:   </label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">APELLIDOS</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">CARGO:</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">OFICINA:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">LUGAR Y FECHA DE NACIMIENTO:</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">FECHA DE INGRESO A LA EMPRESA:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">CARNET DE IDENTIDAD:</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CADUCA EN FECHA:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">DIRECCION ACTUAL:</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">TELÉFONO:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CELULAR:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputNombre">AFP</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Nº DE NUA:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">ESTADO CIVIL</label>
            <select id="inputState" class="form-control">
                <option selected>SOLTERO</option>
                <option>CASADO</option>
                <option>DIVORCIADO</option>
                <option>VIUDO</option>
                <option>OTRO</option>

            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">NOMBRE DEL CÓNYUGE  </label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CELULAR:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
    </div>





    
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>