

<div class="modal-header text-right">
    <img src="~/Imagenes/logousu.png" class="mt-1" style="width: 95px; height:50px;" />
    <h4 class="modal-title texto2 text-center mx-5" id="exampleModalScrollableTitle">FORMULARIO DE ACTUALIZACION DE DATOS</h4>
    <button type="button" class="close text-right" style="background-color:#48cfb4; color:white; width:60px; height:60px; border:3px solid #48cfb4; border-color: #48cfb4;" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="background-color:#dbffd9;">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">NOMBRE:   </label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">APELLIDOS</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">CARGO:</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">OFICINA:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">LUGAR Y FECHA DE NACIMIENTO:</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">FECHA DE INGRESO A LA EMPRESA:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">CARNET DE IDENTIDAD:</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">CADUCA EN FECHA:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">DIRECCION ACTUAL:</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">TELÉFONO:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">CELULAR:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">AFP</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Nº DE NUA:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">ESTADO CIVIL</label>
                <select id="inputState" class="form-control">
                    <option selected>SOLTERO</option>
                    <option>CASADO</option>
                    <option>DIVORCIADO</option>
                    <option>VIUDO</option>
                    <option>OTRO</option>

                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">NOMBRE DEL CÓNYUGE  </label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">CELULAR:</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>

        </div>

    </form>
    <div class="text-center" style="background-color: #a1f9dc;">
        DATOS DE LOS HIJOS<button class="ml-3">Agregar</button>

    </div>
    <table class="table table-striped table-hover">
        <thead class="">
            <tr class="">


                <th class="text-left" scope="col">Nombres y Apellidos</th>

                <th class="text-left" scope="col">Fecha de Nacimiento</th>

                <th class="text-left" scope="col">Sexo</th>
                <th class="text-left" scope="col">Curso Actual</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="text-left"><input type="text"></td>
                <td class="text-left"><input type="text"></td>

                <td class="text-left"><input type="text"></td>

                <td class="text-left texto1-link "><input type="text"> </td>

            </tr>


        </tbody>
    </table>

    <div class="text-center" style="background-color: #a1f9dc;">
        ESTUDIOS <button class="ml-3">Agregar</button>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputNombre">GRADO DE INSTRUCCION:</label>
            <select id="inputState" class="form-control">
                <option selected>BACHILLER</option>
                <option>TECNICO</option>
                <option>EGRESADO</option>
                <option>UNIVERSTARIO</option>
                <option>POSTGRADO</option>

            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">INSTITUCION:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="inputPassword4">CARRERA:</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">DESDE:</label>
            <input type="date" class="form-control" id="inputApellidos">
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">HASTA:</label>
            <input type="date" class="form-control" id="inputApellidos">
        </div>

    </div>

    <div> Detalle sus conocimientos de programas, aplicaciones e idiomas (marque con una x)</div>

    <table class="table">
        <thead class="">
            <tr class="">
                <th class="text-right" scope="col"></th>

                <th class="text-left" scope="col">Excel</th>

                <th class="text-left" scope="col">Word</th>

                <th class="text-left" scope="col">Internet</th>

                <th class="text-left" scope="col">Ingles</th>
                <th class="text-left" scope="col">Aleman</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="text-left">Basico</td>
                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center texto1-link "> <input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>
                <td class="text-center texto1-link "><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"> </td>

                <td class="text-center texto1-link "> <input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>
            </tr>
            <tr>

                <td class="text-left">Intermedio</td>
                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center texto1-link "> <input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>
                <td class="text-center texto1-link "><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"> </td>
                <td class="text-center texto1-link "><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"> </td>
               
            </tr>
            <tr>

                <td class="text-left">Avanzado</td>
                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center"><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>

                <td class="text-center texto1-link "> <input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"></td>
                <td class="text-center texto1-link "><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"> </td>
                <td class="text-center texto1-link "><input type="checkbox" class="form-control" id="inputApellidos" style="width:23px; height:23px;"> </td>
               
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="text-left col-2">Otro</div>
        <div class="text-left col-10"><input type="text" class="form-control" id="inputApellidos"></div>
    </div>
    <div class="text-center mt-3" style="background-color: #a1f9dc;">
        EXPERIENCIA LABORAL

    </div>
    <div class="">
        Por favor mencione su experiencia laboral más significativa (hasta dos trabajos)

    </div>
    <table class="table">
        <thead class="">
            <tr class="">


                <th class="text-center" scope="col">Institucion</th>

                <th class="text-center" scope="col">Cargo</th>

                <th class="text-center" scope="col">Desde</th>
                <th class="text-center" scope="col">Hasta</th>
                <th class="text-center" scope="col">Motivo del Retiro</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="text-left"><input type="text" class="form-control" id="inputApellidos"></td>
                <td class="text-right"><input type="text" class="form-control" id="inputApellidos"></td>

                <td class="text-right"> <input type="date" class="form-control" id="inputApellidos"></td>

                <td class="text-left texto1-link "> <input type="date" class="form-control" id="inputApellidos"> </td>
                <td class="text-left texto1-link "><input type="text" class="form-control" id="inputApellidos"> </td>
            </tr>
            <tr>

                <td class="text-left"><input type="text" class="form-control" id="inputApellidos"></td>
                <td class="text-right"><input type="text" class="form-control" id="inputApellidos"></td>

                <td class="text-right"> <input type="date" class="form-control" id="inputApellidos"></td>

                <td class="text-left texto1-link "> <input type="date" class="form-control" id="inputApellidos"> </td>
                <td class="text-left texto1-link "><input type="text" class="form-control" id="inputApellidos"> </td>
            </tr>

        </tbody>
    </table>
    <div class="">
        Mencione hasta tres cursos de capacitación más significado que ha tomado (de un año a menos de duración) y explique su importancia en su carrera laboral.

    </div>
    <table class="table">
        <thead class="">
            <tr class="">

                <th class="text-center" scope="col">Curso</th>
                <th class="text-center" scope="col">Institucion</th>



                <th class="text-center" scope="col">Fecha</th>
                <th class="text-center" scope="col">Explicacion</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="text-left"><input type="text" class="form-control" id="inputApellidos"></td>
                <td class="text-right"><input type="text" class="form-control" id="inputApellidos"></td>

                <td class="text-right"> <input type="date" class="form-control" id="inputApellidos"></td>


                <td class="text-left texto1-link "><input type="text" class="form-control" id="inputApellidos"> </td>
            </tr>
            <tr>

                <td class="text-left"><input type="text" class="form-control" id="inputApellidos"></td>
                <td class="text-right"><input type="text" class="form-control" id="inputApellidos"></td>

                <td class="text-right"> <input type="date" class="form-control" id="inputApellidos"></td>


                <td class="text-left texto1-link "> <input type="text" class="form-control" id="inputApellidos"></td>
            </tr>
            <tr>

                <td class="text-left"><input type="text" class="form-control" id="inputApellidos"></td>
                <td class="text-right"><input type="text" class="form-control" id="inputApellidos"></td>

                <td class="text-right"> <input type="date" class="form-control" id="inputApellidos"></td>


                <td class="text-left texto1-link "> <input type="text" class="form-control" id="inputApellidos"></td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" style="background-color: #a1f9dc;">
        CROQUIS DE DOMICILIO

    </div>
    <form class="justify-content-center">
        <input type="text" class="form-control ml-5" id="inputNombre" style="width:1020px; height:300px; align-items:center">
    </form>


    <div class="text-center" style="background-color: #a1f9dc;">
        REFERENCIA EN CASO DE EMERGENCIA

    </div>
    <div class="">
        Por favor, anote el nombre, grado de parentesco y número de celular de la persona a la que se debe notificar en caso de emergencias.

    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">NOMBRE:   </label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">APELLIDOS</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">GRADO DE PARENTESCO</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">NRO. DE  CELULAR :</label>
                <input type="text" class="form-control" id="inputApellidos">
            </div>
        </div>
    </form>
    <div class="">
        Por favor, indique si tiene parientes en la Empresa y nómbrelos:<button> Agregar   </button>

    </div>
    <table class="table">
        <thead class="">
            <tr class="">


                <th class="text-center" scope="col">NOMBRES</th>

                <th class="text-center" scope="col">APELLIDOS</th>


            </tr>
        </thead>
        <tbody>

            <tr>

                <td class="text-left"><input type="text" class="form-control"></td>
                <td class="text-center"><input type="text" class="form-control" id="inputApellidos"></td>


            </tr>


        </tbody>
    </table>

    
    <div class="text-center">

        <a class="btn btn-largo text-light" data-toggle="modal" data-target="#modalEnviarDatosModificados" >A C T U A L I Z A R</a>


    </div>

</div>
<!-- MODAL EnviarDatosModificados -->



<div class="modal fade" id="modalEnviarDatosModificados" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="col-10 main-section">
            <div class="modal-content" style="width:600px; height:300px;">
                @await Component.InvokeAsync("EnviarDatosModificados")
            </div>
        </div>
    </div>
</div>



<!-- FIN MODAL EnviarDatosModificados-->