@model clsRegistrarCorrespondencia
<div class="modal-header text-right">
    <h4 class="modal-title texto2 text-center mx-5" id="exampleModalScrollableTitle">REGISTRO DE PAQUETES</h4>
    <button type="button" class="close text-right" style="background-color:#48cfb4; color:white; width:60px; height:60px; border:3px solid #48cfb4; border-color: #48cfb4;" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body justify-content-center" style=" margin-left: 10px; margin-right: 20px; ">


    <form class="justify-content-center" asp-controller="Home" asp-action="RegistrarCorrespondencia" method="post">
        <div class="form-row">
            <div class="form-group col-md-5 ml-md-3 mr-md-5">
                <label for="inputNombre">Codigo: </label>
                <input type="text" class="form-control" id="inputCodigoC" name="inputCodigoC" value="" required>
            </div>


            <div class="form-group col-md-5 mr-md-3">
                <label for="inputNombre">Numero de  guia:</label>
                <input type="text" class="form-control" id="inputNroGuiaC" name="inputNroGuiaC" value="">
            </div>

        </div>
        <div class="form-row mr-md-4">
            <div class="form-group col-sm-12 col-md-12 ml-md-3">
                <label for="inputNombre">Descripcion: </label>

                <select id="inputDescripcionC" name="txtDescripcionC" class="form-control" value="" required>
                    
                    @foreach (var obj in Model.ListListarDescripcion)
                    {
                        <option value="@obj.Codid">@obj.codnombre</option>
                    }
                </select>
            </div>


        </div>
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-5 ml-md-3 mr-md-5">
                <label for="inputNombre">Area Destino: </label>

                <select id="inputDestinoC" class="form-control" name="inputDestinoC" value="" required>
                   
                    @foreach (var obj in Model.ListListadoAreaDestino)
                    {
                        <option value="@obj.areid">@obj.AreNombre</option>
                    }
                </select>
            </div>


            <div class="form-group col-sm-12 col-md-5 mr-md-3">
                <label for="inputNombre">Remitente:</label>
                <input type="text" class="form-control" id="inputRemitenteC" name="inputRemitenteC" value="" required>
            </div>

        </div>
        <div class="form-row my-3 ml-3">
            <input type="checkbox" class="form-control mr-3" id="inputUrgenteC" name="inputUrgenteC" style="width:23px; height:23px;">
            Recojo Urgente
        </div>


        <div class="modal-footer justify-content-center">
            <div class="justify-content-center mr-3">
                <a href="#" class="btn btn-primary ml-2" id="btnLimpiarRegistrarC">Limpiar</a>

            </div>
            <div class="justify-content-center">
                <button type="submit" id="btnRegistrarC" class="btn btn-primary">Registar</button>
            </div>
        </div>
    </form>

</div>