@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card bg-card1">
    <div class="modal-header">
        <h5 class="modal-title texto2"><strong class="text-center">Cambio De Password</strong></h5>
     
     </div>
    <div>
        <form class="text-left">
            <h6 id="PasswordExit" class="text-success"></h6>
            <h6 id="PasswordError" class="alert-danger"></h6>


            <div class="ml-2">
                <small>Contraseña Actual</small>
            </div>
            <div class="input-group">

                <input name="textPassword" id="textPassword" type="password" placeholder="" aria-label="Password" class="texto5 search-query" required>
            </div>
            <div class="ml-2">
                <small> Nueva Contraseña</small>
            </div>
            <div class="input-group">

                <input name="textNuevoPassword" id="textNuevoPassword" type="password" placeholder="" aria-label="Password" class="texto5 search-query" required>
            </div>
            <div class="ml-2">
                <small>Repetir Contraseña</small>
            </div>
            <div class="input-group">

                <input name="textRepetirPassword" id="textRepetirPassword" type="password" placeholder="" aria-label="Password" class="texto5 search-query" required>
            </div>
        </form>
       
        <div class="modal-footer text-center">

            <input type="button" name="btnAlertaPass" id="btnAlertaPass" value="Aceptar" class="btn btn-primary2 mb-auto mr-5 pr-1" />

        </div>

    </div>
 </div>
    <!-- MODAL ALERTA PASSWORD EXITO -->


    <!--FIN MODAL ALERTA PASSWORD EXITO -->
