@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=" text-center m-3">
    <img src="~/Imagenes/Check-02.png" style="width:30px; height:30px;" /><br />
    <div class=" text-center mt-2">Su contraseña fue cambiada con exito!</div>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Pedidos" class="btn btn-primary2 center-block mt-3 mb-auto">Aceptar</a>
    </div>
</div>